#include <Arduino.h>

// base64 "username:password" of the device for the update api (e. g. esp.gpioneers.com)
const String DEVICE_UPDATE_API_PASSWORD = "UPDATE_API_PASSWORD";

// multiple WLAN credentials
const char * WLAN_DATA[] = {
  // SSID, password
  "SSID_1", "PASS_FOR_SSID_1",
  "SSID_2", "PASS_FOR_SSID_2",
  "SSID_3", "PASS_FOR_SSID_3"
};
#define WLAN_DATA_LENGTH (sizeof (WLAN_DATA) / sizeof (const char *))

